body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header, footer {
  background-color: #f1f1f1;
}

footer {
  margin-top: 15px;
  padding: 10px;
}

.form-inline {
  width: auto;
}

.taglist {
  background-color: #00B7FF;
  color: aliceblue;
}

/*.tagging {
  border-style: groove;
  border-color: #000000;
}*/

/*.discovery {
  border: #000000;
}*/

#resultList {
  margin-top: 15px;
}

#map {
  margin-top: 15px;
}

@media(max-width:767px){
  #resultList {
    margin-top: 10px;
  }
  
  #map {
    margin-top: 10px;
  }
}
@media(min-width:768px){
  #resultList {
    margin-top: 10px;
  }
  
  #map {
    margin-top: 10px;
  }
}
@media(min-width:992px){
  #resultList {
    margin-top: 10px;
  }
  
  #map {
    margin-top: 10px;
  }
}
@media(min-width:1200px){
  #resultList {
    margin-top: 15px;
  }
  
  #map {
    margin-top: 15px;
  }
}